page-home {
  background-color: $ec-background-color;
  color: $ec-text-color;

  ion-content.content-ios {
    background-color: transparent;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 8px;
      width: calc(100vmin - 48px);
      height: 33vmin;
      margin: 12px 24px;
      background-color: #800000;
    }

    ion-card.button-card {
      border: 2px dashed #fff;
      background-color: transparent;
      height: 33vmin;
    }

    .card-title {
      position: absolute;
      top: 26%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .card-icon {
      height: 100%;
      width: 100%;
      background-color: #228b22;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        font-size: 15vmin;
        color: #fff;
      }
    }
  }
}
